.row
        form(method='POST')
            .col-md-11.offset-md-1
                .form-group.row
                    label.col-sm-3.col-form-label(for='user') Nombre de Usuario:
                    .col-md-8
                        input.form-control.border.border-dark#user(type="text", name="user")
                .form-group.row
                    label.col-sm-3.col-form-label(for='pass') Contrasena:
                    .col-md-8
                        input.form-control.border.border-dark#pass(type="password", name="pass")
                input(type='submit' value='Ingresar')#btn.btn.btn-dark.float-right