if(username=='')
    a.nav-link(href="" data-toggle='dropdown') Login
    ul#dropi.dropdown-menu.dropdown-menu-right
        li.px-4.py-2
            form.form(role='form' action='/Login' method='POST')
                .form-group
                    input#user.form-control.form-control-sm(name='user' placeholder='Usuario', type='text', required)
                .form-group
                    input#pass.form-control.form-control-sm(name='pass' placeholder='Contraseña', type='password', required)
                .form-group
                    button.btn.btn-primary.btn-block(type='submit') Login
                .form-group.text-center
                    small
                    a(href='/Registrarme') Registrarme
else
    a.nav-link(href="" data-toggle='dropdown') #{username}
    ul#dropi.dropdown-menu.dropdown-menu-right(style='left:auto;')
        li.px-4.py-2
            a.dropdown-item(href='/Logout') Logout

